/* Custom styles for the Navbar component */
.custom-navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  z-index: 1040;
}

.navbar-brand {
  letter-spacing: 1px;
}

.nav-link.active,
.nav-link:focus {
  font-weight: 700;
  color: #2c0ed4 !important;
}
